@page "/"
@inject NavigationManager navigationManager

<PageTitle>Home</PageTitle>
<div style="margin: 20px; width: 100%; margin-top: 75px;">
    <Row>
        <Column ColumnSize="ColumnSize.Is8">
            <h3>Witaj w aplikacji Socjogram</h3>

            <p style="font-size: 18px;">Aplikacja "Socjogram" służy do badania relacji klasy</p>
            Dołącz do Badania: <input @bind="code" type="number"/>  
            <Button Color="Color.Primary" onclick="@JoinToQuiz">Dołącz</Button>
        </Column>
        <Column ColumnSize="ColumnSize.Is4">
                    <Button Color="Color.Primary" >Primary</Button>
            <Button Color="Color.Secondary" >Secondary</Button>
            <Button Color="Color.Success" >Success</Button>
            <Button Color="Color.Warning" >Warning</Button>
            <Button Color="Color.Danger" >Danger</Button>
            <Button Color="Color.Info" >Info</Button>
            <Button Color="Color.Light" >Light</Button>
            <Button Color="Color.Dark" >Dark</Button>
        </Column>
    </Row>
</div>
@code{
    int code = 0;

    public void JoinToQuiz()
    {
        navigationManager.NavigateTo($"putName/{code}");
    }
}