@inherits LayoutComponentBase

<PageTitle>Sociogram.UserInterface</PageTitle>

<Layout>
    <LayoutHeader Style="height: 55px; background-color: #57024e; padding: 10px;" Fixed>
            <Div Style="font-size: 26px; color: white; margin-left: 10px; float: left;">Socjogram</Div>
            <Button Color="Color.Info" Outline Style="font-size: 12px; margin-right: 10px; float:right;">Zaloguj</Button>
            <Button Color="Color.Light" Outline Style="font-size: 12px; margin-right: 5px; float:right;">Zarejestruj</Button>
    </LayoutHeader>
    <LayoutContent Background="Background.Body">
        @Body
    </LayoutContent>
    <LayoutFooter Style="background-color: #57024e;">
        Footer
    </LayoutFooter>
</Layout>
