.box input[type = "password"], .box input[type="text"] {
    border: 0;
    background: none;
    background-color: white;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #57024e;
    padding: 14px 10px;
    width: 210px;
    outline: none;
    color: #57024e;
    border-radius: 22px;
    transition: 0.25s;
    font-size: 14px;
}

    .box input[type = "text"]:focus, .box input[type = "password"]:focus {
        width: 290px;
        border-color: #16a122;
    }

.box input[type = "submit"] {
    border: 0;
    background: none;
    background-color: #8a0f7d;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #57024e;
    padding: 14px 10px;
    width: 260px;
    outline: none;
    color: white;
    border-radius: 22px;
    transition: 0.25s;
    font-size: 16px;
}

    .box input[type = "submit"]:hover {
        background-color: #57024e;
    }

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #5907ab;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #5907ab;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #5907ab;
}

.joinCode {
    padding: 38px;
    margin-left: 30px;
    width: 440px;
    float: left;
    border: black 3px solid;
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    height: 170px;
}

.info {
    margin-bottom: 10px;
    padding: 5px;
    margin-left: 30px;
    width: 440px;
    float: left;
    border: black 3px solid;
    font-size: 45px;
}

.diagram {
    margin-left: 30px;
    width: 910px;
    height: 600px;
    border: black 3px solid;
    float: left;
    margin-bottom: 15px;
}

.students {
    float: left;
    display: flex;
    width: 440px;
    align-items: center;
}

.Student {
    min-width: 205px;
    margin: 15px;
    margin-left: 30px;
    margin-right: 0;
    border: black solid 3px;
    padding: 10px;
    text-align: center;
    font-size: 17px;
}

.NameOfStudent {
}

.IconHead {
    font-size: 26px;
    color: white;
    margin-left: 10px;
    float: left;
}

    .IconHead a {
        color: white;
    }
        .IconHead a:hover {
            color: darkcyan;
        }

.joinPanel{
    border: black solid 3px;
    padding: 15px;
    margin: auto;
    width: 54%;
}

.joinBtn {
    text-align: center;
    font-size: 24px;
    border: #57024e dotted 2px;
    border-radius: 15px;
    color: #57024e;
    font-weight: 700;
    width: 190px;
    margin-right: 6px;
    margin-top: 4px;
    float: right;
}

.joinTxt {
    padding-top: 6px;
    font-size: 21px;
    float: left;
    font-weight: 600;
    margin-top: 4px;
    margin-right: 5px;
}

@media (max-width:1210px) {
    .joinPanel {
        border: black solid 3px;
        padding: 15px;
        margin: auto;
        width: 100%;
    }
}

@media (max-width:672px) {
    .diagram {
        margin-left: 30px;
        margin-right: 30px;
        width: 91%;
        height: 600px;
        border: black 3px solid;
        float: left;
        margin-bottom: 15px;
    }

    .joinPanel {
        border: black solid 3px;
        padding: 15px;
        margin: auto;
        width: 100%;
    }
    .joinBtn {
        text-align: center;
        font-size: 24px;
        border: #57024e dotted 2px;
        border-radius: 15px;
        color: #57024e;
        font-weight: 700;
        width: 100%;
        margin: auto;
        margin-top: 4px;
        margin-bottom: 4px;
    }
    .joinTxt {
        padding-top: 6px;
        font-size: 24px;
        width: 100%;
        text-align: center;
        font-weight: 600;
        margin-top: 4px;
    }
}